<div class="container">

    <h1 class="fw-bold mt-5 text-center">Review Purchase Order</h1>


    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="employeeNumber">Enter Employee Number</label>
            <input type="text" id="employeeNumber" placeholder="8-digit number..." formControlName="EmployeeNumber"
                class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Search</button>
    </form>

    <div *ngIf="errors.length > 0" class="alert alert-danger">
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>

    <div class="m-5" *ngIf="purchaseOrders.length > 0">
        <h2 class="text-center m-3">{{ purchaseOrders.length }} Purchase Orders found</h2>

        <p><strong>Employee Name:</strong> {{purchaseOrders[0].employeeName}}</p>
        <p><strong>Supervisor Name:</strong> {{purchaseOrders[0].employeeSupervisorName}}</p>
        <p><strong>Department Name:</strong> {{purchaseOrders[0].empDepartmentName}}</p>

        <div *ngFor="let purchaseOrder of purchaseOrders">
            <div class="card mb-3">

                <div class="card-header bg-light">
                    <h5 class="mb-0">
                        Purchase Order Number: #{{purchaseOrder.formattedPoNumber}}
                        <small class="text-muted">Creation Date: {{purchaseOrder.creationDate |
                            date:'shortDate'}}</small>
                    </h5>
                </div>

                <div class="card-body">
                    
                    <p><strong>Status:</strong> {{purchaseOrder.purchaseOrderStatus}}</p>
                    <div class="card-footer bg-light">
                        <p><strong>Subtotal:</strong> {{purchaseOrder.subtotal | currency}}</p>
                        <p><strong>Tax:</strong> {{purchaseOrder.tax | currency}}</p>
                        <p><strong>Total:</strong> {{purchaseOrder.grandTotal | currency}}</p>
                    </div>

                    <h6>Items:</h6>

                    <div *ngFor="let item of purchaseOrder.items">

                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="card-footer">
                                    <h6 class="card-title fw-bold text-center">{{ item.name }}</h6>
                                </div>
                                <p class="card-text"><strong>Item Status:</strong> {{ item.itemStatus }}</p>
                                <p class="card-text"><strong>Justification:</strong> {{ item.justification }}</p>
                                <p class="card-text"><strong>Description:</strong> {{ item.description }}</p>
                                <p class="card-text"><strong>Price:</strong> {{ item.price | currency }}</p>
                                <p class="card-text"><strong>QTY:</strong> {{ item.quantity }}</p>
                                <p class="card-text"><strong>Subtotal:</strong> {{ item.subtotal | currency }}</p>
                                <p class="card-text"><strong>Tax:</strong> {{ item.tax | currency }}</p>
                                <p class="card-text"><strong>Grand Total:</strong> {{ item.grandTotal | currency }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>