<div class="container">

    <h1 class="fw-bold mt-5 text-center" *ngIf="showSearchForm">Review Purchase Orders</h1>


    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" *ngIf="showSearchForm">
        <div class="form-group">
            <label for="employeeNumber">Enter Employee Number</label>
            <input type="text" id="employeeNumber" placeholder="8-digit number..." formControlName="EmployeeNumber"
                class="form-control" [value]="employeeNumber" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Search</button>
    </form>

    <div *ngIf="errors.length > 0" class="alert alert-danger">
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>

    <div class="m-5" *ngIf="purchaseOrders.length > 0">
        <h2 class="text-start ">{{ purchaseOrders.length }} Purchase Orders found</h2>

        <p><strong>Employee Name:</strong> {{purchaseOrders[0].employeeName}}</p>
        <p><strong>Supervisor Name:</strong> {{purchaseOrders[0].employeeSupervisorName}}</p>
        <p><strong>Department Name:</strong> {{purchaseOrders[0].empDepartmentName}}</p>

        <div *ngFor="let purchaseOrder of purchaseOrders">
            <div class="card mb-3" #cardElement>

                <div class="card-header bg-light mice-p"
                    (click)="toggleCardBody(purchaseOrder.formattedPoNumber || '', cardElement)"
                    title="Click to view details">
                    <h5 class="mb-0 po-text-link"> {{arrowState[purchaseOrder.formattedPoNumber || ''] || '▶ '}}
                        Purchase Order Number: #{{purchaseOrder.formattedPoNumber}}
                        <small class="text-muted">Creation Date: {{purchaseOrder.creationDate |
                            date:'shortDate'}}</small>
                    </h5>
                </div>

                <div class="card-body" *ngIf="showCardBody[purchaseOrder.formattedPoNumber || '']">

                    <p><strong>Status:</strong> {{purchaseOrder.purchaseOrderStatus}}</p>
                    <div class="card-footer bg-light">
                        <p><strong>Subtotal:</strong> {{purchaseOrder.subtotal | currency}}</p>
                        <p><strong>Tax:</strong> {{purchaseOrder.tax | currency}}</p>
                        <p><strong>Total:</strong> {{purchaseOrder.grandTotal | currency}}</p>
                    </div>

                    <h6>Items:</h6>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>QTY</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Justification</th>
                                <th>Item Status</th>
                                <th>Subtotal</th>
                                <th>Tax</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of purchaseOrder.items">
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.price | currency }}</td>
                                <td>{{ item.justification }}</td>
                                <td *ngIf="purchaseOrder.purchaseOrderStatus === 'Closed'">{{ item.itemStatus }}</td>
                                <td *ngIf="purchaseOrder.purchaseOrderStatus !== 'Closed'">Pending</td>
                                <td>{{ item.subtotal | currency }}</td>
                                <td>{{ item.tax | currency }}</td>
                                <td>{{ item.grandTotal | currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>