<div class="container">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <h2 class="m-5 fw-bold text-center">Add Item</h2>

        <div *ngIf="errors.length > 0" class="alert alert-danger">
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="itemName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="itemName" name="name" formControlName="name" (ngModelChange)="resetSubmitted()">
                    <div 
                    *ngIf="itemForm.get('name')?.invalid &&
                     itemForm.get('name')?.touched || submitted">
                        <span class="text-danger">Name is required</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" formControlName="quantity">
                    <div 
                    *ngIf="itemForm.get('quantity')?.invalid &&
                     itemForm.get('quantity')?.touched || submitted">
                        <span class="text-danger">Quantity is required</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" formControlName="price">
                    <div 
                    *ngIf="itemForm.get('price')?.invalid &&
                     itemForm.get('price')?.touched || submitted">
                        <span class="text-danger">Price is required</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="itemLoc" class="form-label">Location</label>
                    <input class="form-control" id="itemLoc" name="location" formControlName="location">
                    <div 
                    *ngIf="itemForm.get('location')?.invalid &&
                     itemForm.get('location')?.touched || submitted">
                        <span class="text-danger">Location is required</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="mb-3">
                    <label for="just" class="form-label">Justification</label>
                    <textarea class="form-control" id="just" rows="3" name="justification"
                        formControlName="justification"></textarea>
                    <div 
                    *ngIf="itemForm.get('justification')?.invalid &&
                     itemForm.get('justification')?.touched || submitted">
                        <span class="text-danger">Justification is required</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" id="desc" rows="3" name="description"
                        formControlName="description"></textarea>
                    <div *ngIf="itemForm.get('description')?.invalid && 
                    itemForm.get('description')?.touched || submitted">
                        <span class="text-danger">Description is required</span>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>