<div class="container">

  <h1 class="fw-bold m-5 text-center">Search Existing Purchase Order</h1>


  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="employeeNumber">Employee Number</label>
          <input type="text" id="employeeNumber" placeholder="8-digit number..." formControlName="EmployeeNumber"
            class="form-control" [value]="employeeNumber"  required>
        </div>
      </div>
      <div class="col">


        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="date" id="startDate" formControlName="StartDate" class="form-control">
        </div>
      </div>
      <div class="col">

        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="date" id="endDate" formControlName="EndDate" class="form-control">
        </div>
      </div>
      <div class="col">

        <div class="form-group">
          <label for="poNumber">PO Number</label>
          <input type="text" id="poNumber" formControlName="PONumber" class="form-control">
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
  </form>

  <div *ngIf="errors.length > 0" class="alert alert-danger">
    <ul>
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  </div>

  <div *ngIf="searchResults.length > 0">
    <h2>Search Results</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Purchase Order Number</th>
          <th>Creation Date</th>
          <th>Status</th>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Grand Total</th>
          <th >Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of searchResults">
          <td>{{ result.formattedPoNumber }}</td>
          <td>{{ result.creationDate| date:'shortDate' }}</td>
          <td>{{ result.status }}</td>
          <td>{{ result.subtotal| currency }}</td>
          <td>{{ result.tax | currency }}</td>
          <td>{{ result.grandTotal | currency }}</td>
          <td><a *ngIf="result.status !== 'Closed'; else closedTemplate"  class="btn btn-danger" (click)="navigateToAddItem(result.poNumber)">Add More</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #closedTemplate>
  <span class="bg-light fw-bolder text-danger" style="cursor: pointer;" title="This purchaseOrder is closed. Can't add more items">PO Closed</span>
</ng-template>
