<div class="container">
    <h1 class="m-5 fw-bold">Update Purchase Order</h1>
    <app-errors [messages]="errors"></app-errors>
    <div>
        <form [formGroup]="purchaseOrderForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="PONumber" class="form-label">PO Number</label>
                        <input type="text" placeholder="No PO number yet.." class="form-control" id="PONumber"
                            formControlName="poNumber">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="CreationDate" class="form-label">Current Date</label>
                        <input readonly disabled type="text" class="form-control" id="CreationDate"
                            [value]="purchaseOrderForm.get('creationDate')?.value | date:'yyyy-MM-dd'">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                      <label for="EmployeeName" class="form-label">Employee Name</label>
                      <input readonly type="text" class="form-control" id="EmployeeName" formControlName="employeeName">
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="Department" class="form-label">Department</label>
                      <input readonly type="text" class="form-control" id="Department" formControlName="department">
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="SupervisorName" class="form-label">Supervisor Name</label>
                      <input readonly type="text" class="form-control" id="SupervisorName" formControlName="supervisorName">
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="Status" class="form-label">Purchase Order Status</label>
                      <input readonly type="text" class="form-control" id="Status" formControlName="status">
                    </div>
                  </div>
                
            </div>

            <div formArrayName="items">
                <div *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="itemName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="itemName" formControlName="name">
                                <div *ngIf="item.get('name')?.errors && item.get('name')?.touched" class="text-danger">
                                  <div *ngIf="item.get('name')?.errors?.['required']">Name is required.</div>
                                  <div *ngIf="item.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</div>
                                  <div *ngIf="item.get('name')?.errors?.['maxlength']">Name cannot be more than 45 characters long.</div>
                                </div>
                              </div>
                            <div class="mb-3">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="quantity" formControlName="quantity">
                                <div *ngIf="item.get('name')?.errors && item.get('quantity')?.touched" class="text-danger">
                                    <div *ngIf="item.get('quantity')?.errors?.['required']">Item quantity is required.</div>
                                    <div *ngIf="item.get('quantity')?.errors?.['min']">Item quantity must be greater than zero.</div>
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" id="price" formControlName="price">
                                <div *ngIf="item.get('name')?.errors && item.get('price')?.touched" class="text-danger">
                                    <div *ngIf="item.get('price')?.errors?.['required']">Item Price is required.</div>
                                    <div *ngIf="item.get('price')?.errors?.['min']">Item price must be greater than zero.</div>
                                  </div>
                            </div>
                            <div class="mb-3">
                                <label for="itemLoc" class="form-label">Location</label>
                                <input class="form-control" id="itemLoc" formControlName="location">
                                <div *ngIf="item.get('name')?.errors && item.get('location')?.touched" class="text-danger">
                                    <div *ngIf="item.get('location')?.errors?.['required']">Item location is required.</div>
                                    <div *ngIf="item.get('location')?.errors?.['minlength']">Item purchase location minimum length is 5.</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="just" class="form-label">Justification</label>
                            <textarea class="form-control" id="just" rows="3"
                                formControlName="justification"></textarea>
                                <div *ngIf="item.get('name')?.errors && item.get('justification')?.touched" class="text-danger">
                                    <div *ngIf="item.get('justification')?.errors?.['required']">Item justification is required.</div>
                                    <div *ngIf="item.get('justification')?.errors?.['minlength']">Item justification minimum length is 4.</div>
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for="desc" class="form-label">Description</label>
                            <textarea class="form-control" id="desc" rows="3" formControlName="description"></textarea>
                            <div *ngIf="item.get('name')?.errors && item.get('description')?.touched" class="text-danger">
                                <div *ngIf="item.get('description')?.errors?.['required']">Item description is required.</div>
                                <div *ngIf="item.get('description')?.errors?.['minlength']">Item description minimum length is 5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <button type="submit" class="btn btn-success d-inline">Update</button>
            </div>
        </form>
    </div>
</div>